body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  margin: 0 auto;
  height: 100vh;
}

* {
  user-select: none;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  /* 60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% { transform: translateY(2px); } */
  100% { 
    transform: translateY(0);
    opacity: 1; 
  }
}