
.form-item-animation {
    animation: bounce-left 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bounce-left {
    0% {
        transform: translateX(30px);
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
  }